body {
    background: #D7D8C9;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: #A4A68A;
    border-radius:10px;
}

.assignment img {
    width:200px; 
    border: 4px solid #800000;
    margin: 10px;
    border-radius:4px
}

.assignment img:hover {
    border: 4px dashed  #F2BE24;  
}

h1{
    color: #800000; 
    text-align: center;
}

a{
    text-decoration:none; 
    color:  #800000; 
}

a:hover
{
color:#F2BE24;
}